{% extends "layout/basic.html" %}

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--      <meta charset="UTF-8">-->
<!--      <title>Добавление объявления :: Доска объявлений</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Добавление объявления</h1>-->
<!--    <div>-->
<!--      <a href="{% url 'index' %}">Главная</a>-->
<!--      {% for rubric in rubrics %}-->
<!--      <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--    <form method="post">-->
<!--      {% csrf_token %}-->
<!--      {{ form.as_p }}-->
<!--      <input type="submit" value="Добавить">-->
<!--    </form>-->
<!--  </body>-->
<!--</html>-->

<!--Изменения в главе 2.7 листинг 2.11-->
{% block title %}Добавление объявления{% endblock %}

{% block content %}
<h2>Добавление объявления</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Добавить">
</form>
{% endblock %}